* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #e0e0e3;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Navigation Menu */
.nav-links {
    background-color:  #bfbfbf;
    padding: 0;
    text-align: right;
    margin: 0;
}

.nav-links li {
    list-style: none;
    padding: 1em;
    font-size: small;
}

.nav-links li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 2em;
    display: block;
    padding-right: .7em;
}

.nav-links li:hover {
    background-color: #939393;
}

.nav-links li:hover > a {
    color: black;
}

/* Main Nav Title */
#app-title {
    font-size: 2.6em;
    color: #5aabfc;
    padding: .6em;
    float: left;
}

#anchor {
    margin-top: 7em;
}