
#panel {
    padding:5px;
    text-align:center;
    background-color: #bfbfbf;
    border:solid 1px #c3c3c3;
    width: 100%;
    padding: 20px;
    display: none;
    overflow:hidden;
  }
  
  #navbar-toggle {
      cursor: pointer;
      float: right;
  }
  
  #ovi {
    display: block;
    background-color: red;
    width: 100%;
  }
  
  #navbar-toggle div {
      width: 3.5em;
      height: .5em;
      background-color: #bfbfbf;
      margin: .6em 0;
      border: 1px solid transparent;
      border-radius: .02em;
  }
      
  .fixed {
      background-color: #484848;
      padding: 1em;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
  }
