
/* Sign-Up page */
#signUp {
    background-color: white;
    border: 1px solid black;
    width: 80%;
    height: 40%;
    margin: 22em auto;
    padding: 2em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#login-modal-outerArea {
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#login-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 2em;
    border: 1px solid #808080;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -20px;
    margin-right: -10px;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input {
   border: 1px solid #4a4a4a;
   padding-left: .5em;
   width: 60%;
   height: 30px;
   margin-bottom: 10px;
}

#signUpBtn {
    border: 1px solid #4a4a4a;
}
#loginBtn {
    border: 1px solid #4a4a4a;
    height: 30px;
    width: 25%;
}

h1 {
    padding-left: 1em;
    float: left;
    margin: 0;
}

/*  News Feed  */
.feed-wrapper .feed-image {
    text-align: center;
}
.feed-wrapper img {
    cursor: pointer;
    margin: 0 auto;
    max-height: 500px;
    width: 100%;
    max-width: 100%;
}

.feed-wrapper .article-author {
    background-color: #4a4a4a;
    margin-bottom: 0;
    margin-top: .3em;
    padding: .5em .5em;
    color: #5aabfc;
}

.article-author {
    font-size: 2em;
}

label {
    display: -webkit-box;
    padding: 0 1em;
    color: white;
    margin: 0;
}


#inner {
    margin: .5em 0;
    /* background-color: */
}

/*  Articles  */
#title {
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: .3em;
    /* padding-left: 1.4em; */
    padding: 0 1.4em;
    -webkit-box-decoration-break: clone;
}

a:link {
    color: #ffffff;
}
a:hover {
    color: #d6d6d6;
}
a:visited {
    color: #5aabfc;
}

#description {
    padding-top: .7em;
    padding-left: 1.6em;
    font-size: 1em;
}

#publishedOn {
    padding-left: 1.9em;
    padding-bottom: .8em;
    font-size: .8em;
}

.article-author-noshow {
    margin-top: 1em;
    display: none;
}

/* Mixed Media */
@media only screen and (max-width: 600px) {
    .feed-wrapper {
        background-color: rgba(128, 128, 128, .8);
        margin-bottom: .5em;
        max-width: 100%;
        margin: 0 auto;
    }
 }
 
 @media only screen and (min-width: 600px) {
    .feed-wrapper {
        background-color: rgba(128, 128, 128, .8);
        margin-bottom: .5em;
        max-width: 80%;
        margin: 0 auto;
    }
 }
 
 @media only screen and (min-width: 900px) {
    .feed-wrapper {
        background-color: rgba(128, 128, 128, .8);
        margin-bottom: .5em;
        max-width: 50%;
        margin: 0 auto;
    }
 }

